
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

/**
 * Text
*/

html {font-size: 87.5%;} /*14px*/

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  background-image: url(../images/blob-scene-haikei.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

::selection {
    background-color: var(--red);
    color: var(--white-red);
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

/**
 * Sign up / login
*/

.signUpBody {
    background: var(--body-background-color);
    color: var(--primary-text-color);
    background-image: url(../images/blob-scene-haikei.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

img {
    width: 15%;
}

.signUpLogo {
    min-width: 50px;
    width: 15%;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.signUp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    min-height: 70vh;
    height: 80vh;
    border-radius: 20px;
    background-color: var(--white-red);
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--red);
}

.signUp h1 {
    color: var(--red);
    font-size: 1.563rem;
    text-transform: uppercase;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

input {
    margin: 5px;
    padding: 10px 0 10px 30px;
    height: 40px;
    width: 100%;
    border: 1px solid var(--grey-30);
    border-radius: 20px;
}

input:focus {
    outline: 2px solid var(--red);
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
}
  
.username:before {
    content: "";
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    width: 15px;
    background: url("../images/ic_perm_identity_24px.svg") center / contain no-repeat;
}

.password:before {
    content: "";
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    width: 15px;
    background: url("../images/lock-solid.svg") center / contain no-repeat;
}

.email:before {
    content: "";
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    width: 15px;
    background: url("../images/at-solid.svg") center / contain no-repeat;
    fill: var(--grey-30);
}

.breakLine {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.breakLine hr {
    width: 30%;
    border-color: var(--grey-30);
}

.breakLine p {
    width: 40%;
    margin: 0 5px;
    color: var(--grey-60);
    text-align: center;
}

a {
    text-decoration: none;
}

.btnSignUp {
    background-color: var(--red);
    height: 40px;
    width: 40%;
    max-width: 130px;
    border: none;
    border-radius: 10px;
    color: var(--white-red);
    margin-top: 20px;
    cursor: pointer;
}

.btnSignUp:hover ,
.btnSignUp:active {
    background-color: var(--white-red);
    border: 2px solid var(--red);
    color: var(--red);
}

.alreadySignedUp {
    color: var(--red);
    opacity: 0.8;
    font-size: 0.8rem;
    cursor: pointer;
}

.alreadySignedUp:hover,
.alreadySignedUp:active {
    text-decoration: underline;
}

#btnGoogle {
    width: 150px;
    height: auto;
    cursor: pointer;
}

/**
 * Chat overview
*/

.overviewBody {
    color: var(--primary-text-color);
    margin: 175px auto;
    background-image: url(../images/blob-scene-haikei.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.overviewHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 30px 20px 0 20px;
    position: fixed;
    height: 150px;
    width: 100vw;
    top: 0;
    scroll-padding-top: 150px;
}

.titleOverview {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.logo-overview img {
    width: 80%;
    opacity: 1;
}

.logo-overview {
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--white-red);
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.logo-overview p, .overviewHeader h1 {
    margin: 0;
}

.overviewHeader h1 {
    color: var(--white-red);
    font-size: 1.953rem;
    font-weight: 500;
}

.signOutIcon {
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
    width: 2rem;
    opacity: 0.6;
}

.signOutIcon:active, .signOutIcon:hover {
    opacity: 1;
    transform: scale(1.1);
}

#overview {
    height: 100%;
    width: 70vw;
    background-color: var(--white-red);
    border-radius: 20px;
    padding: 30px;
}

.divChatrooms {
    cursor: pointer;
}

.chatroom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid var(--grey-30) !important; 
}

.chatroom:hover .fa-trash-alt {
    visibility: visible;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.text h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    padding-top: 5px;
}

.text p {
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--grey-60);
}

.thumbnail {
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 10px;
}

.thumbnail .fa-comments {
    color: var(--white-red);
}

.fa-trash-alt {
    visibility: hidden;
    color: var(--grey-30);
}

.fa-trash-alt:hover, .fa-trash-alt:active {
    transform: scale(1.1);
    color: var(--red);
}

footer .newChatBtn {
    outline: none;
    border: none;
    position: fixed;
    bottom: 20px;
    right: 20px;

}

.fa-plus-circle {
    font-size: 3.052rem;
    color: var(--white-red);
    margin: 2px;
    filter: drop-shadow(0 3px 10px var(--grey-30));
}

i:active {
    transform: scale(1.1);
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white-red);
    margin: 15% auto;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
}

.popup-content label {
    color: var(--primary-text-color);
    text-align: center;
}

.close {
    color: var(--grey-30);
    font-size: 28px;
    font-weight: bold;
    position: fixed;
    top: 50px;
    right: 50px;
}

.close:hover,
.close:focus {
    color: var(--red);
    text-decoration: none;
    cursor: pointer;
}

/* CSS for loader */
.loader {
    color: var(--red);
    font-size: 50px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

/**
 * Chatrooms
*/

.chatBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/blob-scene-haikei.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#chatContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.chatHeader {
    height: 70px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 0;
    width: 100vw;
}

.chatHeader h1 {
    color: var(--white-red);
    font-size: 1.953rem;
    font-weight: 500;
}

.backBtn {
    width: 22px;
    background: none;
    opacity: 0.6;
    outline: none;
    border: none;
    position: absolute;
    top: 25px;
    left: 10px;
}

.backBtn:hover ,
.backBtn:active {
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
}

.fa-chevron-left {
    font-size: 1.25rem;
    color: var(--white-red);
}

.myChat .myMessage.userJoined {
    display: flex;
    justify-content: center;
}

.myMessage.userJoined {
    width: 100%;
    color: var(--grey-60);
    margin: 0 auto;
    background: none;
    height: 40px;
    font-size: 0.7rem;
    text-align: center;
}

.myChat .myMessage.userLeft {
    display: flex;
    justify-content: center;
}

.myMessage.userLeft {
    width: 100%;
    color: var(--grey-60);
    margin: 0 auto;
    background: none;
    height: 40px;
    font-size: 0.7rem;
    text-align: center;
}

.messagesContainer {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white-red);
    width: 90vw;
    height: 70%;
    border-radius: 20px;
}

.messages {
    width: 100%;
    overflow-y: scroll;
    height: 60vh;
}

.chat {
    margin: 0 0 20px;
}

.myChat {
    margin-right: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.name {
    color: var(--grey-60);
    font-size: 0.6rem;
    margin-left: 5px;
    display: flex;
    align-items: flex-start;
}

.myMessage {
    height: auto;
    max-width: 50vw;
    width: auto;
    word-wrap: break-word;
    padding: 10px;
    margin: 0 0 0 auto;
    background-color: var(--red);
    color: var(--white-red);
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 400;
    display: inline-block;
}

.message {
    height: auto;
    width: auto;
    word-wrap: break-word;
    padding: 10px;
    margin: 0;
    background-color: var(--grey-30);
    color: var(--primary-text-color);
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 400;
    display: inline-block;
}

.inputMessage {
    font-size: 0.9rem;
}

.sendBtn {
    color: var(--red);
    font-size: 1.25rem;
    width: 15%;
}

.sendBtn:active ,
.sendBtn:hover {
    transform: scale(1.1);
    border: none;
    cursor: pointer;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 10%;
    border-radius: 20px 20px 0 0;
    filter: drop-shadow(0 -3px 5px var(--grey-30));
    background-color: var(--white-red);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputSend {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

@media screen and (min-width: 600px) {
    /* Sign up */

    .signUpBody{
        background-image: url(../images/blob-scene-haikei-wide.svg);
    }

    #app {
        width: 35%;
    }

    /* Overview */

    .overviewBody {
        background-image: url(../images/blob-scene-haikei-wide.svg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    .overviewHeader {
        height: 175px;
    }
    
    .logo-overview {
        left: 30px;
    }

    .signOutIcon { 
        right: 30px;
    }

    #overview {
        width: 50vw;
    }

    .divChatrooms {
        width: 40vw;
    }

    .popup-content {
        width: 30%;
    }

    /* Chat */

    .chatBody {
        background-image: url(../images/blob-scene-haikei-wide.svg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    .backBtn {
        top: 25px;
        left: 20px
    }

    .messagesContainer {
        /* margin-top: 100px; */
        height: 75%;
        width: 60%;
        background-color: var(--white-red);
    }

    .messages {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
    }

    .inputMessage {
        width: 75%;
    }

    .footer {
        width: 60vw;
        display: flex;
        justify-content: space-around;
    }

    .sendBtn {
        margin: 0;
        width: 20%;
        height: 40px;
        background-color: var(--red);
        color: var(--white-red);
        border-radius: 20px;
    }
}

/* Keyframes for loader */
@-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  